
@charset "UTF-8";
body {
    background-color: #272626;
    outline: none !important;
}

a {
    outline: none;
}

.tabbed {
    margin-left: 2rem;
    margin-right: 2rem;
}

.pointer,
.pointer:hover {
    cursor: pointer;
}

.options {
    font-size: 3rem !important;
}

.card {
    margin-top: 2em !important;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.muted {
    color: #9b9fa2 !important;
}

.hover-normal:hover {
    color: rgb(0, 109, 255) !important;
}

.bigname {
    margin-top: 1rem;
}

.grade-admin {
    margin-top: -0.5rem;
}

.bigpic {
    height: 15.3rem;
    width: 15.3rem;
    border-radius: 4px;
}

a:hover {
    text-decoration: none;
}

a:focus {
    color: #0056b3;
}

.popover-header {
    color: white !important;
    background-color: rgb(51, 58, 65) !important;
    padding-bottom: 0.5rem !important;
    border-bottom: 0.5rem solid rgb(49, 56, 63);
}

.popover-body {
    color: white !important;
    padding-top: 0px !important;
    border-top: 0.5rem solid rgb(49, 56, 63);
    background-color: rgb(49, 56, 63) !important;
    border-bottom-left-radius: calc(0.3rem - 1px) !important;
    border-bottom-right-radius: calc(0.3rem - 1px) !important;
}

.popover {
    color: white !important;
    border: none !important;
}

.popover .arrow,
.popover .arrow:after {
    border-right-color: rgb(49, 56, 63);
}

.bs-popover-right .arrow:before {
    content: none !important;
}

hr {
    border-top: 1px solid #9b9fa2;
}

.underline {
    text-decoration: underline;
}

.admin-prof-info {
    margin: 0 auto;
    width: 13rem;
}

.prof-content,
.settings-content {
    margin-top: 2rem;
    margin-left: 5rem;
    margin-bottom: 3.5rem;
    margin-right: -5rem;
}

.nav-tabs .nav-link {
    color: white !important;
    border: none !important;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border: 1px solid white;
}

.nav-tabs .nav-link.active {
    color: #495057 !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-title {
    font-size: 1.6rem !important;
.top{
	padding-top:30px;
}
th{
	background-color: black;
	color:white;
	border-radius: 4px;
	padding:3px;
	text-align: center;
}
td{
	background-color:#aaa;
	border: 1px solid white;
	color:#555;
	height:20px;
	width:50%;
	border-radius: 4px;
	padding:3px;
	padding-left: 10%;
}
form{
	display: inline;
}
table{
	background-color: white;
	margin: 3px auto;
	width:87%;
	text-align: left;
	border-radius: 5px;
}
body{
	padding:30px 0 0 50px;
	margin:0 auto;
	text-align: center;
	background-color: #888;
}
a{
	font-family: 'Courier';
	text-decoration: none;
	background-color: white;
	border-radius: 3px;
	color:#888;
	padding:2px;
}
p{
	display:inline;
}
input{
	margin: 0 5px;
	display:inline;
}
.name{
	width:25%;
	text-align: left;
	padding-left: 12%;
}
.status{
	text-align: left;
	padding-left: 10%;
}
.late{
	padding:0 2px;
	border:2px #888 solid;
	border-radius: 3px;
	text-align: center;
	width:15%;
}
.reset{
	position:absolute;
	margin: -25px -95px;
}
.sidebar{
	transition: width 0.5s ease;
	z-index: 1;
	word-wrap: break-word;
	margin: -30px 0 0 -50px;
	width: 15px;
	background-color: #555;
	height:1000px;
	position:fixed;
	font-family: monospace;
	padding:3px;
	color:rgb(100,140,50);
	font-size: 15px;
}
.sidetext{
	font-family: "Comic Sans MS";
	visibility: hidden;
	display: block;
	width:90%;
	margin: 5px 5%;
	color: #555;
}
.sidebar:hover{
	width:250px;
}
.sidebar:hover a{
	color:rgb(120,180,90);
	visibility:visible;
}
.BigBox{
	width:75%;
	background-color: black;
	color: white;
}
.admin{
	white-space:nowrap;
	padding-right:2px;
	width:inherit;
}
td.admin{
	background-color:#aaa;
	border: 1px solid white;
	color:#555;
	height:23px;
	border-radius: 4px;
	padding:1px;
	text-align: center;
}
.admin > form > input{
	border-radius: 3px;
	border:1px solid grey;
	color:black;
	width:50%;
	text-align: center;
}
::placeholder{
	opacity:1;
}

.toggled {
    background-color: #25292d !important;
    color: white !important;
}

.toggled-red {
    background-color: #25292d !important;
    color: white !important;
    border-color: darkred !important;
}

.animated {
    -webkit-animation-duration: 0.35s;
    animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.name {
    width: 25%;
    text-align: left;
    padding-left: 12%;
}

.status {
    text-align: left;
    padding-left: 10%;
}

.late {
    padding: 0 2px;
    border: 2px #888 solid;
    border-radius: 3px;
    text-align: center;
    width: 15%;
}

.reset {
    position: fixed;
    margin-top: -18px;
}

.sidebar {
    word-wrap: break-word;
    margin: -20px 0;
    width: 15px;
    background-color: #555;
    height: 1000px;
    position: fixed;
    font-family: monospace;
    padding: 3px;
    color: rgb(100, 140, 50);
    font-size: 15px;
}

.sidetext {
    font-family: "Comic Sans MS";
    visibility: hidden;
    display: block;
    width: 90%;
    margin: 5px 5%;
    color: #555;
}

.sidebar:hover {
    width: 250px;
}

.sidebar:hover a {
    color: rgb(100, 140, 50);
    visibility: visible;
}

.BigBox {
    width: 75%;
    background-color: black;
    color: white;
}

.admin {
    width: 3%;
}

td.admin {
    background-color: #aaa;
    border: 1px solid white;
    color: #555;
    border-radius: 4px;
    padding: 3px;
    text-align: center;
}

.admin>form>input {
    color: black;
    text-align: center;
}

::placeholder {
    opacity: 1;
}

#div1 {
    border: 1px solid black;
}

.newval {
    width: 55%;
}

.submit {
    margin: 0 auto;
    text-align: center;
    width: 20%;
}

.back>.sidebar {
    padding-top: 20px;
}

.ghost-input {
    display: block;
    font-weight: 300;
    width: 100%;
    font-size: 25px;
    border: 0px;
    border-bottom: 1px solid rgb(117, 117, 117);
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgb(117, 117, 117);
    background: #272626;
    padding: 10px 15px;
    margin: 30px 0px;
    margin-bottom: 0px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.card:hover {
    box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.1) !important;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
.del{
	padding:3px 1px;
	border:1px solid white;
	width:96%;
	position: relative;
	display:inline-block;
	float:left;
}
.table{
}

@keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}

.switch,
.switch-no-animation {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input,
.small-switch input,
.switch-no-animation input {
    display: none;
}

.small-switch {
    position: relative;
    display: inline-block;
    width: calc(60px * 0.75);
    height: calc(34px * 0.75);
}

.students-table {
    margin-top: 2em;
}

.slider,
.small-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(51, 58, 65);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.slider-no-animation {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(51, 58, 65);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.slider-no-animation:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
}

.small-slider:before {
    position: absolute;
    content: "";
    height: calc(26px * 0.75);
    width: calc(26px * 0.75);
    left: calc(4px * 0.75);
    bottom: calc(4px * 0.75);
    background-color: white;
    -webkit-transition: calc(0.3s * 0.75);
    transition: calc(0.3s * 0.75);
}

input:checked+.slider {
    background-color: rgb(67, 189, 121);
}


input:checked+.slider-no-animation {
    background-color: rgb(67, 189, 121);
}

input:checked+.small-slider {
    background-color: rgb(67, 189, 121);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:checked+.slider-no-animation:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
input:checked+.small-slider:before {
    -webkit-transform: translateX(calc(26px * 0.75));
    -ms-transform: translateX(calc(26px * 0.75));
    transform: translateX(calc(26px * 0.75));
}

/* Rounded sliders */

.slider.round,
.slider-no-animation.round {
    border-radius: 34px;
}

.slider.round:before,
.small-slider.round:before,
.slider-no-animation:before {
    border-radius: 50%;
}

.small-slider.round {
    border-radius: calc(34px * 0.75);
}

.v-middle {
    vertical-align: middle;
    display: table-cell;
}

.offset-info {
    margin-left: 7rem;
    margin-top: -1rem;
}

table.thin{
	margin:0 5px;
	width:auto;
	display: inline-block;
	float: left;
}
td.thin{
	width:auto;
}
.block{
	margin:0 auto;
	display: table;
}
.groups{
	display: block;
	overflow: auto;
	margin-bottom:20px;
}
td.color, td.color > input, td.color > select, td.color > button{
	color: rgb(200,0,0);
	background-color: rgb(46, 46, 46);
	border: 1px solid rgb(200,0,0);
	appearance: none;
	-webkit-appearance: none; 
	-moz-appearance: none;
}
