
th{
	background-color: black;
	color:white;
	border-radius: 4px;
	padding:3px;
	text-align: center;
}
td{
	background-color:#aaa;
	border: 1px solid white;
	color:#555;
	width:50%;
	border-radius: 4px;
	padding:3px;
	padding-left: 10%;
}
form{
	display: inline;
}
table{
	background-color: white;
	margin: 20px auto;
	width:75%;
	text-align: left;
	border-radius: 5px;
}
body{
	margin:0 auto;
	text-align: center;
	background-color: #888;
}
a{
	font-family: 'Courier';
	text-decoration: none;
	background-color: white;
	border-radius: 3px;
	color:#888;
	padding:2px;
}
p{
	display:inline;
}
input{
	margin: 0 5px;
	display:inline;
}
.name{
	width:25%;
	text-align: left;
	padding-left: 12%;
}
.status{
	text-align: left;
	padding-left: 10%;
}
.late{
	padding:0 2px;
	border:2px #888 solid;
	border-radius: 3px;
	text-align: center;
	width:15%;
}
.reset{
	position:fixed;
	margin-top: -18px;
}
.sidebar{
	word-wrap: break-word;
	margin: -20px 0;
	width: 15px;
	background-color: #555;
	height:1000px;
	position:fixed;
	font-family: monospace;
	padding:3px;
	color:rgb(100,140,50);
	font-size: 15px;
}
.sidetext{
	font-family: "Comic Sans MS";
	visibility: hidden;
	display: block;
	width:90%;
	margin: 5px 5%;
	color: #555;
}
.sidebar:hover{
	width:250px;
}
.sidebar:hover a{
	color:rgb(100,140,50);
	visibility:visible;
}
.BigBox{
	width:75%;
	background-color: black;
	color: white;
}
.admin{
	width:3%;
}
td.admin{
	background-color:#aaa;
	border: 1px solid white;
	color:#555;
	border-radius: 4px;
	padding:3px;
	text-align: center;
}
.admin > form > input{
	color:black;
	text-align: center;
}
::placeholder{
	opacity:1;
}
#div1 {
	border: 1px solid black;

}
.newval{
	width:55%;
}
.submit{
	margin:0 auto;
	text-align: center;
	width:20%;
}
.back > .sidebar{
	padding-top:20px;
}
.present, .late, .absent, .checked-out, .status {
    display: inline;
}
