body {
  background-color: #272626;
}

.card {
  margin-top: 2em !important;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1) !important;
  -webkit-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
}

.card-title {
  font-size: 1.6rem !important;
}

.toggled {
  background-color: #25292d !important;
  color: white !important;
}
.toggled-red {
  background-color: #25292d !important;
  color: white !important;
  border-color: darkred !important;
}
.animated {
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.name {
  width: 25%;
  text-align: left;
  padding-left: 12%;
}
.status {
  text-align: left;
  padding-left: 10%;
}
.late {
  padding: 0 2px;
  border: 2px #888 solid;
  border-radius: 3px;
  text-align: center;
  width: 15%;
}
.reset {
  position: fixed;
  margin-top: -18px;
}
.sidebar {
  word-wrap: break-word;
  margin: -20px 0;
  width: 15px;
  background-color: #555;
  height: 1000px;
  position: fixed;
  font-family: monospace;
  padding: 3px;
  color: rgb(100, 140, 50);
  font-size: 15px;
}
.sidetext {
  font-family: "Comic Sans MS";
  visibility: hidden;
  display: block;
  width: 90%;
  margin: 5px 5%;
  color: #555;
}
.sidebar:hover {
  width: 250px;
}
.sidebar:hover a {
  color: rgb(100, 140, 50);
  visibility: visible;
}
.BigBox {
  width: 75%;
  background-color: black;
  color: white;
}
.admin {
  width: 3%;
}
td.admin {
  background-color: #aaa;
  border: 1px solid white;
  color: #555;
  border-radius: 4px;
  padding: 3px;
  text-align: center;
}
.admin > form > input {
  color: black;
  text-align: center;
}
::placeholder {
  opacity: 1;
}
#div1 {
  border: 1px solid black;
}
.newval {
  width: 55%;
}
.submit {
  margin: 0 auto;
  text-align: center;
  width: 20%;
}
.back > .sidebar {
  padding-top: 20px;
}
.ghost-input {
  display: block;
  font-weight: 300;
  width: 100%;
  font-size: 25px;
  border: 0px;
  border-bottom: 1px solid rgb(117, 117, 117);
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: rgb(117, 117, 117);
  background: #272626;
  padding: 10px 15px;
  margin: 30px 0px;
  margin-bottom: 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.card:hover {
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.1) !important;
}
